body, html {
    margin: 0;
    padding: 0;
}

.clock {
    margin: auto;
    font-family: 'Share Tech Mono', monospace;
    font-size: 50px;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
    background: #404040;
}
